<div class="academic">
  <h2 class="academic__title">Formación</h2>
  <p class="academic__text">
    Arte dramático / Centre Teatral Escalante / 2009-2012
  </p>
  <p>
    Master de interpretación ante la cámara en la Central de Cine Interpretación
    ante la cámara con Mariano Barroso 1er módulo de interpretación ante la
    cámara con Juancho Calvo Interpretación ante la cámara con Javao
    Interpretación ante la cámara con Cristina García Interpretación ante la
    cámara con Diego Braguinski
  </p>
  <p>2020 Seminario “EL recorrido interior” con Carme Portaceli</p>
  <p>2019 Seminario “interpretar con la cualidad” con Andrés Lima</p>
  <p>2018 Teatro renacentrista; el actor como centro con Xavo Giménez</p>
  <p>Taller de interpretación “A qué estamos jugando” con Jaume Pérez</p>
  <p>2017 Clown con Patricia Pardo</p>
  <p>Verso con Carles Sanjaime y Toni Misó</p>
  <p>Taller “
    Document i ficción” con Jordi Casanovas</p>
     9ht Michael Chejov International
  Summer Academy in Gozjan, August Como hacer de los malos con Greg Hicks y
  Grumelot (Clásicos Alcalá de Henares) Palabra cuerpo e imaginación con Pedro
  Casablanc Cuerpo a cuerpo (danza acrobática) con Roseta Plasencia y Sebastián
  Rowinsky 2016 Interpretar con preguntas con Pablo messiez Técnica Meisner con
  Laura Moise Intensivo ante la cámara con Carles Vila 2015 Canto con Maria José
  Peris Dramaturgia con Paco Zarzoso 2012 Técnica voice craft con Lidya
  Wellington Esgrima teatral con Javier García y Mario Asensi
</div>
