<div class="academic">
  <h2 class="academic__title">Formación</h2>
  <p class="academic__text">
    <span class="academic__text--bold">Arte dramático</span>, Centre Teatral
    Escalante (2009-2012)
  </p>
  <p class="academic__text">
    <span class="academic__text--bold"
      >Máster de interpretación ante la cámara</span
    >, Central de Cine Interpretación ante la cámara con Mariano Barroso 1er
    módulo de interpretación ante la cámara con Juancho Calvo Interpretación
    ante la cámara con Javao Interpretación ante la cámara con Cristina García
    Interpretación ante la cámara con Diego Braguinski
  </p>
  <p class="academic__text">
    2020 | Seminario
    <span class="academic__text--bold">El recorrido interior</span>, con Carme
    Portaceli
  </p>
  <p class="academic__text">
    2019 Seminario “Interpretar con la cualidad” con Andrés Lima
  </p>
  <p class="academic__text">
    2018 "Teatro renacentrista; el actor como centro con Xavo Giménez
  </p>
  <p class="academic__text">
    Taller de interpretación “A qué estamos jugando” con Jaume Pérez
  </p>
  <p class="academic__text">2017 Clown con Patricia Pardo</p>
  <p class="academic__text">Verso con Carles Sanjaime y Toni Misó</p>
  <p class="academic__text">Taller “ Document i ficción” con Jordi Casanovas</p>
  <p class="academic__text">
    9ht Michael Chejov International Summer Academy in Gozjan, August
  </p>
  <p class="academic__text">
    Cómo hacer de los malos con Greg Hicks y Grumelot (Clásicos Alcalá de
    Henares)
  </p>
  <p class="academic__text">Palabra cuerpo e imaginación con Pedro Casablanc</p>
  <p class="academic__text">
    Cuerpo a cuerpo (danza acrobática) con Roseta Plasencia y Sebastián Rowinsky
  </p>
  <p class="academic__text">2016 Interpretar con preguntas con Pablo Messiez</p>
  <p class="academic__text">Técnica Meisner con Laura Moise</p>
  <p class="academic__text">Intensivo ante la cámara con Carles Vila</p>
  <p class="academic__text">2015 Canto con María José Peris</p>
  <p class="academic__text">Dramaturgia con Paco Zarzoso</p>
  <p class="academic__text">2012 Técnica voice craft con Lydia Wellington</p>
  <p class="academic__text">Esgrima teatral con Javier García y Mario Asensi</p>
</div>
