<header class="header">
  <h1 class="header__name">Guille Zavala</h1>
  <nav class="header__nav">
    <ul>
      <li><a class="header__nav--bio" href="./bio.html" title="bio">Bio</a></li>
      <li>
        <a class="header__nav--photo" href="./bio.html" title="bio">Fotos</a>
      </li>
      <li>
        <a class="header__nav--video" href="./bio.html" title="bio">Vídeos</a>
      </li>
      <li>
        <a class="header__nav--awards" href="./bio.html" title="bio">Premios</a>
      </li>
      <li>
        <a class="header__nav--contact" href="./bio.html" title="bio"
          >Contacto</a
        >
      </li>
    </ul>
  </nav>
</header>
