.bio {
  background-color: $color-background;
  padding: 5px 20px 20px 20px;
  &__title {
    font-family: $font-Lato;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: $color-text1;
    text-align: center;
    margin: 10px;
  }
  &__text {
    font-family: $font-Raleway;
    font-size: 15px;
    font-weight: 100;
    color: $color-text1;
    text-align: justify;
    line-height: 25px;
    margin: 20px;
  }
  &__text::first-letter {
    font-size: 37px;
    //margin: 1px;
    float: left;
  }
  &__text2 {
    font-family: $font-Raleway;
    font-size: 15px;
    font-weight: 100;
    color: $color-text1;
    text-align: justify;
    line-height: 25px;
    margin: 20px;
  }
}
.academic {
  background-color: $color-background;
  padding: 5px 20px 20px 20px;
  color: $color-text1;
  &__title {
    font-family: $font-Lato;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: $color-text1;
    text-align: center;
    margin: 10px;
  }
  &__text {
    font-family: $font-Raleway;
    font-size: 15px;
    font-weight: 100;
    color: $color-text1;
    text-align: justify;
    line-height: 25px;
    margin: 20px;
    &--bold {
      font-weight: 500;
      font-style: italic;
    }
    &--italic {
      font-style: italic;
    }
  }
}
